$main-font-fam: 'PT Sans Regular', sans-serif;
$header-font-fam: 'PT Sans Narrow', sans-serif;
$quote-font-fam: 'DroidSerifItalic';

$tool-list: photoshop illustrator indesign sketch axure;

$link-color: #00aeff;
$text-color: #515e72;
$work-office-color: #3d9ccc;
$work-freelance-color: #96c93c;
$basic-color: #eff2f5;
$skills-light-color: #1cd3f6;
$skills-dark-color: #1ba0e1;

$colors: (
        photoshop-color: #1ba0e1,
        illustrator-color: #8cbf26,
        indesign-color: #b664e6,
        sketch-color: #25b9b8,
        axure-color: #f09709
);

$social-logo: "resources/social-sprite.png";
$separator-icon: "resources/SpaceInvader.png";

$social-num: 5;
$p: 80%;

@mixin main-font {
  font-family: $main-font-fam;
  font-size: 12px;
  color: $text-color;
}

.container {

  @include main-font;

  [class*='row'] {
    margin: 5%;
  }

  .section-title,
  .subsection-title {
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .section-title {
    font-family: $header-font-fam;
    font-size: 20px;
  }

  .row + :not(.about) > .section-title:after{
    display: block;
    content: "";
    color: red;
    border-top: 1px $text-color solid;
    width: 40px;
    margin-top: 5px;
  }

  .subsection-title {
    font-size: 11px;
  }

  .link {
    color: $link-color;
    text-decoration: none;
  }

  .about__social,
  .about__work,
  .skills--main,
  .skills--additional,
  .tools--main,
  .tools--activity,
  .last-projects,
  .interests {
    margin: 0;
    list-style: none;
    padding: 0;

  }

  .about {
    &__photo {
      max-width: 148px; /*image size*/
    }

    &__separator {
      display: inline-block;
      content: "";
      border-top: 2px $basic-color solid;
      margin: 40px 20%;
      height: 0;
      width: 60%;

      &::before {
        display: block;
        content:"";
        width: 40px;
        height: 40px;
        margin: -20px auto;
        border-radius: 20px;
        background: white url($separator-icon) no-repeat center;
      }

      &:hover::before {
        animation: separator-animation 1s ease-in;
        @keyframes separator-animation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }

    [class*="about__social--"] {
      height: 15px;
      vertical-align: middle;
      margin: 1rem;

      &:before {
        content:"";
        float: left;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background: url($social-logo);
        background-size: 15px*$social-num;
      }

      @for $i from 1 through $social-num {
        &:nth-child(#{$i}):before {
          background-position: 0 - $i*15px + 15px;
        }
      }
    }

    [class*='about__work--'] {
      height: 80px;
      padding-left: 30px;

      .fn {
        display: block;
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
      }

      .role {
        display: block;
        font-size: 14px;
      }

      .note {
        display: block;
        @extend .subsection-title;
      }

      &:after {
        display: block;
        content: "";
        width: 16px;
        height:  16px;
        border-radius: 8px;
        position: relative;
        top: -75px;
        left: -27px;
        z-index: -1;

        box-shadow: 0 0 4px -1px gray,inset 0 0 0px 3px white;
      }
    }

    .about__work--office {
      [class*="fn org"]  {
        color: $work-office-color;
      }

      &:after {
        background-color: $work-office-color;
      }

      &:not(:first-child):before {
        content: "";
        width: 6px;
        height: 80px;
        background: $work-office-color;
        border-radius: 2px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        position: relative;
        top: -71px;
        left: -22px;
        float: left;
        box-shadow: 0 0 4px -1px gray;
      }
    }

    .about__work--freelance {
      [class*="fn"]  {
        color: $work-freelance-color;
      }

      &:after {
        background-color: $work-freelance-color;
      }
    }

  }

  .skills {
    &--main {
      [class*="skills__"] {
        display: block;
        text-align: center;

      }

      .skills__title {
        font-size: 14px;
      }

      .skills__note {
        text-transform: uppercase;
        font-size: 11px;
      }


      $rotate-deg: 0;
      .skills__condition {
        margin: 20px auto;
        $circle-size: 180px;

        width:  $circle-size;
        height: $circle-size;
        background-image:
                radial-gradient(circle closest-side, white 95%, transparent 95%, transparent 100%),
                linear-gradient(to top right, $skills-dark-color, $skills-light-color);

        border-radius: 50%;
        .circle {

          .mask, .fill {
            width:    $circle-size;
            height:   $circle-size;
            position: absolute;

            border-radius: 50%;
          }
          .mask.left{
            clip: rect(0px, $circle-size/2, $circle-size, 0);
            .fill {
              clip: rect(0px, $circle-size/2, $circle-size, 0px);
            }
          }

          .mask.right{
            clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
            .fill {
              clip: rect(0px, $circle-size/2, $circle-size, 0px);
            }
          }
        }

        .circle .fill {
          background-image:
                  radial-gradient(circle closest-side, transparent 95%, $basic-color 95%, $basic-color 100%);
        }

        .circle .fill.right {
          transform: rotate(360deg);

          animation: circle-animation 1s ease-in;

          @keyframes circle-animation {
            from {
              transform: rotate(180deg);
            }
            to {
              transform: rotate(360deg);
            }

          }
        }
        &:after {
          content: '%';
          font-size: 24px;
          position: absolute;
          padding: 50px 130px;
          display: block;
        }

        &:before {
          content: attr(about);
          padding: 20px;
          font-size: 50px;
          top: 35%;
          left: 35%;
          z-index: 1;
          position: absolute;
        }

      }

      @mixin animate-rotation($angle){
        transform: rotate(0deg);

        animation: circle-animation--left#{$angle} 1s ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        @keyframes circle-animation--left#{$angle} {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate($angle);
          }
        }
      }

      .skill:first-child {
        .circle .fill.left {
          @include  animate-rotation(18deg);
        }
      }

      .skill:nth-child(2) {
        .circle .fill.left {
          @include  animate-rotation(108deg);
        }
      }

      .skill:nth-child(3) {
        .circle .fill.left {
          @include  animate-rotation(36deg);
        }
      }

    }

    &--additional {
      text-align: center;

      .skill {
        display: inline-block;
        margin-right: 20px;

        &:before {
          display: block;
          content: "";
          width: 6px;
          height:  6px;
          border-radius: 3px;
          background-color: $basic-color;
          position: relative;
          float: left;
          top: 0.5em;
          left: -5px;
        }
      }
    }
  }

  .tools {
    .subsection-title {
      text-align: right;
      margin: 1rem;
    }

    &--main {
      .tool {
        margin: 1rem 2rem 0 0;
        &:first-child {
          margin-top: 2rem;
        }

        padding: 0;
        border: none;
        background-color: $basic-color;
        box-shadow: none;
      }

      @each $tool in $tool-list {
        .#{$tool} > .tools__title {
          padding: 0.4rem 2rem;
          margin: 0;

          border: none;
          box-shadow: none;
          background: $basic-color linear-gradient(90deg,
                  map-get($colors, $tool#{-color}) 100%,
                  $basic-color 100%,
                  $basic-color) no-repeat;

          text-transform: uppercase;
          color: $basic-color;

          animation: tools-animation 2s ease-in;
        }

        @keyframes tools-animation {
          from {
            background-color: $basic-color;
            background-size: 0% 100%;
          }
          to {
            background-color: $basic-color;
            background-size: 100% 100%;
          }
        }
      }
    }

    &--activity {
      background-color: inherit;
      .tool {
        margin: 1rem;
        height: 1.5rem;
      }

      .tools__note {
        display: inline-block;
        float: right;
        text-align: right;
        text-transform: uppercase;
        font-size: 11px;
      }
    }

  }

  .last-projects {
    .project {
      display: block;

      &__title,
      &__note,
      &__image {
        display: block;
        text-align: center;
        margin: auto;
      }

      &__title {
        font-size: 14px;
      }

      &__note {
        @extend .subsection-title;
      }

      &__image {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .interests {
    &__title {
      display: block;
      margin: 10px 0;
    }
  }

  .footer {
    &__quote,
    &__image {
      display: block;
      margin: auto;
    }
    &__quote {
      text-align: center;
      font-style: italic;
      font-weight: bold;
      font-family: $quote-font-fam;
      font-size: 20px;

      &:after {
        display: block;
        margin: auto;
        content: "";
        border-top: 2px $basic-color solid;
        width: 100px;
        margin-top: 5px;
      }
    }
    &__image {
      margin-top: 20px;
    }
  }
}